body {
    margin: 0px;
    background-color: black;
}

#maze3d {
    float: left;
}

button {
    float: left;
    width: 90px;
    height: 60px;
    margin: 22px;
    background-color: aquamarine;
}
